.card {
  background-color: #1e1e1e;
  position: relative;
  width: calc(100% / 3.1);

  padding: 2rem 0rem;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 2%, 47%, 0.1),
    0 0 0 1px hsla(230, 13%, 9%, 0.075), 0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
    0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
    0 3.5px 6px hsla(230, 13%, 9%, 0.09);
}

/* @media only screen and (min-width: 800px) and (max-width: 1296px) {
  [class*="card"] {
  }
} */

.inner {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inner h1 {
  font-size: auto;
  margin-bottom: 0rem;
  text-align: center;
}

.inner h4 {
  font-weight: 500;
  color: #838083;
  margin-top: 0rem;
  margin-bottom: 1rem;
  text-align: center;
}
